<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jan van Eyck</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Symbolism</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Go to Homepage</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container content my-5 py-5">
  <h1>But first, who is Jan van Eyck?</h1>
  <p>Jan van Eyck, an early 15th-century Dutch artist, is key to the Early Flemish painting movement. Born around 1390 and passing in 1441, he's celebrated for his detailed, naturalistic art and pioneering use of oil paint, enhancing his paintings' color and texture.</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Portrait_of_a_Man_by_Jan_van_Eyck-small.jpg" style="width: 400px" alt="Jan van Eyck">
  <div class="mt-5">
    <a href="/next" class="btn btn-secondary" id="next-button">Previous</a>
    <!-- Update this link to wherever the "Next" button should go -->
    <!-- Update this in jan-van-eyck.html to link to the new page -->
    <a href="/portrait-of-giovanni-arnolfini-and-his-wife" class="btn btn-primary ml-2" id="arnolfini-detail-button">Next</a>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="static/scripts.js"></script>
</body>
</html>
