<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portrait of Giovanni Arnolfini and his Wife</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Symbolism</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active1" href="/detail-elements-of-arnolfini">Learn again</a>
        <a class="nav-link active2" href="/">Home</a>
      </div>
    </div>
  </div>
</nav>



<div class="container content my-5 py-5">
  <h1>Let’s look at the <b>"Portrait of Giovanni Arnolfini and his Wife"</b></h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4>Jan van Eyck's 1434 masterpiece, <b>"Portrait of Giovanni Arnolfini and his Wife,"</b> is a pivotal Dutch painting showing the wealthy Arnolfini and his wife, possibly during their marriage ceremony, in Bruges. Celebrated for its intricate detail and symbolic elements, the work showcases van Eyck’s revolutionary oil painting skills.</h4>
    </div>
    <div class="col-md-6">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Van_Eyck_-_Arnolfini_Portrait.jpg" style="width: 100%" alt="Portrait of Giovanni Arnolfini and his Wife">
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-between">
    <a href="/jan-van-eyck" class="btn btn-secondary" id="jan-van-eyck-button">previous</a>
    <a href="/detail-elements-of-arnolfini" class="btn btn-primary" id="detail-elements-button">Next</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
