<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portrait of Giovanni Arnolfini and his Wife</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="static/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Symbolism</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Go to Homepage</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container content my-5 py-5">
  <h1>Let’s look at the "Portrait of Giovanni Arnolfini and his Wife"</h1>
  <p>Jan van Eyck's 1434 masterpiece, "Portrait of Giovanni Arnolfini and his Wife," is a pivotal Dutch painting showing the wealthy Arnolfini and his wife...</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Van_Eyck_-_Arnolfini_Portrait.jpg" style="width: 400px" alt="Portrait of Giovanni Arnolfini and his Wife">
  <div class="mt-5">
    <a href="/jan-van-eyck" class="btn btn-secondary" id="jan-van-eyck-button">previous</a>
    <!-- The Next button would go to a different page, update the href accordingly -->
    <!-- Update this in portrait-of-giovanni-arnolfini-and-his-wife.html to link to the new page -->
    <a href="/detail-elements-of-arnolfini" class="btn btn-primary" id="detail-elements-button">Next</a>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="static/scripts.js"></script>
</body>
</html>
