<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Introduction to Symbolic Art</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Separate CSS file for styles -->
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Symbolism</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active1" href="/detail-elements-of-arnolfini">Learn again</a>
        <a class="nav-link active2" href="/">Home</a>
      </div>
    </div>
  </div>
</nav>


<div class="container content my-5 py-5">
  <h1>Introduction to Symbolic Art</h1>
  <p class="mt-4">Before we dive into Symbolism, let's understand how symbols have been used historically in art to convey complex ideas and narratives.</p>
  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <!-- This could link to a page that precedes this introductory content, if there is one -->
      <a href="earlier-content.html" class="btn btn-secondary mr-2">Previous</a>
      <!-- Link to the symbolism.html page, as the next part of the content sequence -->
      <a href="symbolism.html" class="btn btn-primary ml-2">Next</a>
    </div>
  </div>
</div>

<!-- JQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Separate JS file for scripts -->
<script src="static/scripts.js"></script>
</body>
</html>
